.errorBox {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.errorH1 {
  font-size: 80px;
}

.errorH2 {
  font-size: 30px;
}

.linkError404 {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: white;
  text-decoration-line: underline;
}
