h1,
h2,
h3 {
  color: white;
  text-align: center;
}

h4 {
  color: white;
}

.sectionpersonprojects {
  margin-top: 200px;
}

.mypicture {
  text-align: center;
}

.sectionprojects {
  margin-top: 100px;
}
